Django==3.0.8
django-cors-headers==3.4.0
django-sslserver==0.22
djangoajax==3.2
djangorestframework==3.11.0
jsonpickle==1.4.1
mongoengine==0.20.0
pymongo==3.10.1
requests==2.24.0
Unidecode==1.1.1
# uWSGI==2.0.19.1
# redis==3.5.3
# python-redis-lock==3.5.0
django-after-response==0.2.2
djangorestframework-xml==2.0.0
